@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700;800&family=Teko:wght@300;400;500;600;700&family=Tektur:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #e2e2e2;
  }
  
  .grid {
      display: grid;
    }
    
  .main {
      overflow: hidden;
      max-width: 100%;
    }
  
/*ESTILOS GENERALES*/
h1, h2, h3, h4{
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}

a{
    list-style: none;
    color: #000;
    font-weight: bold;
}

/*HEADER*/

.header {
    width: 100%;
    background: #ffffffec;
    width: 100%;
    z-index: 100; 
    background-color: rgba(255, 255, 255, 1);
    max-height: auto;
    box-shadow: 0px 15px 10px -15px #111;
  }

  .nav {
    margin: auto;
    max-width: 1200px;
    height: 2rem;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navL {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 500;
    width: 16%;
    margin-left: 10px;
    width: 16%;
    margin-left: 10px;
  }
  
  .navL-img {
    width: 100%;
  }
  
  .navLink, .navL, .navToggle, .navclose {
    color: #000;
  }

  .navToggle {
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  /*NAVBAR RESPONSIVE*/
  @media (max-width: 767px) {
    .navM {
      position: fixed;
      width: 100%;
      background: #fff;
      top: -150%;
      left: 0;
      padding: 3.5rem 0;
      transition: 0.4s;
      z-index: 100;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
  
  .navclose {
    font-size: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
  }
  
  .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    margin: auto;
  }

  .navLink:hover {
    color: #000000b9;
    text-transform: calc(50%);
    color: #000000b9;
    text-transform: calc(50%);
  }
  
  /* Show menu */
  .show-menu {
    top: 0;
  }

  @media (min-width: 767px) {
    .nav {
        height: calc(3.5rem + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navclose, .navToggle {
        display: none;
    }
    .navList {
        flex-direction: row;
        column-gap: 3rem;
    }
    .navLink {
        text-transform: initial;
        font-weight: initial;
    }
  }

/*SLIDER SECTION*/
.tittle-carrousel{
    width: 100%;
    padding: 80px 0 10px 0;
    background: #ffffff80;
}

.tittle-carrousel h2{
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

.carousel-inner{
    margin: auto;
}

.container-news{
    max-width: 100%;
    justify-content: center;
    margin: auto;
    padding-bottom: 20px;
}

.carousel-item{
    height: 90vh;
}
.carrusel-item img{
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    filter: brightness(80%);
}

.carousel-control-next, .carousel-control-prev{
    color: #000;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(0,0,0,0.1);
}

.active:hover{
    color: #000;
}

.box{
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 25px;
}

.box h3{
    color: #fff;
    font-weight: bolder;
    font-family: 'Jost', 'sans-serif';
    font-size: 2.1rem;
    text-transform: uppercase;
}

.box h4{
    color: #fff;
    font-weight: bold;
    font-family: 'Jost', 'sans-serif';
    font-size: 1.8rem;

}

.box p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.box a{
    color: #fff;
}

.box a:hover{
    color: #ffffffb7;
}

.box .principal-title-carrousel{
    font-size: 1.8rem;
}

.box .paragraph-carrousel{
    font-size: 1.5rem;
}

/*PRINCIPAL TITTLE*/
.principal-title{
    background: #ffffff80;
    padding: 40px 0 16px 0;
}

.principal-title h1{
    font-weight: bolder;
    font-size: 2rem;
    margin: auto;
}

/*GALERRY*/
.gallery{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-gallery{
    display: flex;
    width: 95%;
    height: 740px;
    margin: auto;
}

.img-gallery{
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5 ease;
    border: 3px solid #000;
}

.gallery-img{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    border-left: 0;
}

.img-gallery:hover{
    cursor: pointer;
    cursor: pointer;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}

/*SINOPSIS-CONTAINER*/
.sinopsis-container {
    position: relative; /* Asegura que el z-index funcione */
    z-index: 100;}

/*MEDIUM TITTLE*/
.medium-tittle{
    background: #ffffff80;
    padding: 40px 0 16px 0;
}

.medium-tittle h2{
    font-size: 2rem;
    font-weight: bolder;
    font-weight: bolder;
}

/*ANIME SINOPSIS*/
.anime-sinopsis{
    max-width: 100%;
}

.about-anime{
    max-width: 1300px;
    margin: auto;
    padding-top: 10px;
}

.tittle-anime{
    margin: 20px 0 20px 0;
}


.tittle-anime h3{
    font-family: 'Tektur', sans-serif;
    text-align: left;
    font-size: 1.8rem;
    max-width: 100%;
    font-weight: bold;
    display: inline-block; 
    background: orange;
    padding: 10px 20px;
    display: inline-block; 
    background: orange;
    padding: 10px 20px;
}

.img-anime{
    max-width: 100%;
}

.img-anime img{
    max-width: 100%;
}

.img-anime-7 img{
    width: 100% ;
}

.sinopsis-anime-7{
    padding-bottom: 20px;
}

.sinopsis li{
    list-style: square;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 1.05rem;
}

.sinopsis li::marker{
    color: orange;
}

.anime-span{
    font-weight: bold;
}

/*QUESTIONS*/
.questions{
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
    text-align: center;
    background: #ffffff80;
}

.questions-and-title-container{
    width: 1300px;
    margin: auto;
}

.subtitle{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
}

.questions-paragraph{
    font-size: 1.2rem;
}

.questions-container{
    display: grid;
    gap: 2em;
    padding-top: 20px;
    padding-bottom: 80px;
}

.questions-padding{
    padding: 0;
    transition: .3s;
    border: 2px solid #000;
    border-radius: 6px;
    height: 70px;
    overflow: hidden;
}

.questions-padding--add{
    padding-bottom: 30px;
    height: 150px;
    transition: .3s;
}

.questions-answers{
    padding: 0px 30px 0px;
    overflow: hidden;
}

.questions-title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 26px 0 10px;
    padding: 26px 0 10px;
    cursor: pointer;
    color: #000;
    justify-content: space-between;
    font-weight: 600;
    font-weight: 600;
}

.questions-arrow{
    border-radius: 50%;
    background-color: #000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions-arrow--rotate{
    transform: rotate(180deg);
}

.questions-show{
    text-align: left;
    height: 0;
    transition: height .3s;

}

.questions-img{
    display: block;
}

.questions-copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;

}

/*FOOTER*/
.footer{
	background-color: #24262b;
    width: 100%;
    padding: 70px 0;
    margin: auto;
}

.footer-container{
	width: 1500px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.footer-img{
    width: 80%;
    margin: auto;
}

.footer-img img{
    width: 100%;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
   margin: auto;
}


.footer-copyright{
    width: 100%;
    text-align: center;
}

.footer-copyright p{
    color: #fff;
}

.footerspan{
    color: #fff;
    font-weight: 700;
}

.footer-copyright{
    width: 100%;
    text-align: center;
}

.footer-copyright p{
    color: #fff;
    font-size: 14px;
}

.footerspan{
    color: #fff;
    font-weight: 700;
}

.footer-social{
    text-align: center;
    margin-top: 0;
}

.footer-col h4{
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.social-links{
    margin-top: 0;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}


.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*FOOTER - RESPONSIVE*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

/*RESPONSIVE*/
@media(max-width: 574px){
    /*Nav-bar*/
    .header{
        width: 100%;
    }

    .nav{
        width: 96%;
        justify-content: space-between;
    }

    .navL-img{
        max-width: 100%;
        border-left: 10px;
    }

    .navLink{
        font-size: .96rem;
    }

    /*Slider*/

    .container-news{
        background: red;
        height: 500px;
    }

    .tittle-carrousel h2{
        font-size: 2rem;
    }


    .box h3{
        font-size: 2rem;
    }

    .box h4{
        font-size: 1.6rem;
    }

    .box p{
        display: none;
    }

    .carousel-item img{
        height: 540px;
    }

    /*Destacados*/
    .gallery{
        margin-top: 500px;
    }

    .img-gallery:hover{
        cursor: pointer;
        width: 300px;
        opacity: 1;
        filter: contrast(120%);
    }
    
    /*Sinopsis*/
    .about-anime{
        width: 90%;
    }

    .tittle-anime h3{
        font-size: 1.6rem;
        margin: auto;
    }

    .img-anime{
        width: 100%;
        overflow: hidden;
        left: -10px;

    }

    .sinopsis li, .anime-span{
        font-size: .96rem;
    }
}