@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Tektur:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: gainsboro; 
  }
  
  .grid {
      display: grid;
    }
    
  .main {
      overflow: hidden;
      max-width: 100%;
    }
  
/*ESTILOS GENERALES*/
h1, h2, h3, h4{
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}

a{
    list-style: none;
    color: #000;
    font-weight: bold;
}

/*HEADER*/
/*
.header{
    width: 100%;
    max-height: 5rem;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 5rem;   
}

.nav-bar{
    max-width: 1300px;
    height: 5rem;
    margin: auto;
    align-items: center;
    background: white;
    text-align: center;

}

.nav-menu{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
}

.nav-menu ul{
    display: flex;
    margin: auto;
    justify-content: space-around;

}

.nav-menu li{
    font-size: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-elements-img{
    max-width: 18%;
}

.nav-elements-img img{
    max-width: 100%;
}

.nav-links{
    font-size: 1.2rem;
}

.nav-links:hover{
    color: #00000078;
    border-bottom: 3px solid #00000078;
}*/

/*HEADER -2*/
/*
header{
    background: #fff;
    position: relative;
    padding: 0 2rem;
}

header a{
    color: #000;
}

header a:hover{
    color: rgba(0, 0, 0, 0.596);
}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toogle-btn{
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn{
    background-color: orange;
    color: #fff;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: .8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale .2 ease;
}

.action_btn:hover{
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: .95;
}

/*DROPDOWN-MENU*/
/*.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 1;
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}/*


/*HEADER-3*/

.header {
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .nav {
    margin: auto;
    max-width: 1200px;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navL {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 500;
    width: 20%;
  }
  
  .navL-img {
    width: 100%;
  }
  
  .navLink, .navL, .navToggle, .navclose {
    color: #000;
  }
  
  .navToggle {
    font-size: 1.25rem;
    cursor: pointer;
  }



  
  @media (max-width: 767px) {
    .navM {
      position: fixed;
      width: 100%;
      background: #fff;
      top: -150%;
      left: 0;
      padding: 3.5rem 0;
      transition: 0.4s;
      z-index: 100;
      border-radius: 0 0 1.5rem 1.5rem;
    }
  }
  
  .navclose {
    font-size: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
  }
  
  .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
  }
  
  .navLink {
    text-transform: uppercase;
    font-weight: 900;
    transition: 0.4s;
  }
  
  .navLink:hover {
    color: #000000cf;
  }
  
  /* Show menu */
  .show-menu {
    top: 0;
  }
  
  /* Change background header */
  .scroll-header {
    background: #000c32;
  }

  /* Active link */
.active-link {
    position: relative;
  }

/*PUNTERO QUE INDICA EN QUE PARTE DE LA PAG ESTAMOS*/
.active-link::before {
    content: "";
    position: absolute;
    bottom: -0.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: #000;
    border-radius: 50%;
  }

  @media (min-width: 767px) {
    .nav {
        height: calc(3.5rem + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navclose, .navToggle {
        display: none;
    }
    .navList {
        flex-direction: row;
        column-gap: 3rem;
    }
    .navLink {
        text-transform: initial;
        font-weight: initial;
    }
  }
  

/*COVER*/
.information-cover{
    max-width: 1300px;
    display: flex;
    align-items: center;
    margin: auto;
}

.information-text{
    max-width: 30%;
}

.information-text h1{
    text-align: left;
}

.information-text p{
    text-align: left;
}

.img-cover{
    width: 100%;
}

.img-cover img{
    width: 100%;
    clip-path: inset(22% 0 34% 0);
}

/*PRINCIPAL TITTLE*/
.principal-tittle{
    max-width: 100%;
    margin: auto;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*GALERRY*/
.gallery{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-gallery{
    display: flex;
    width: 1450px;
    height: 740px;
    margin: auto;
}

.img-gallery{
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5 ease;
    border: 3px solid #000;
}

.gallery-img{
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    border-left: 0;
}

.img-gallery:hover{
    cursor: crosshair;
    width: 500px;
    opacity: 1;
    filter: contrast(120%);
}

/*MEDIUM TITTLE*/
.medium-tittle{
    background: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.medium-tittle h3{
    font-size: 2rem;
    font-weight: bold;
}

/*ANIME SINOPSIS*/
.anime-sinopsis{
    max-width: 100%;
}

.about-anime{
    max-width: 1300px;
    margin: auto;
}

.tittle-anime{
    margin: 20px 0 20px 0;
}

.tittle-anime h4{
    font-family: 'Tektur', sans-serif;
    text-align: left;
    font-size: 2rem;
    max-width: 100%;
    font-weight: bold;
}

.img-anime{
    max-width: 100%;
}

.img-anime img{
    max-width: 100%;
}

.img-anime-7 img{
    width: 100% ;
}

.sinopsis li{
    list-style: square;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 1.05rem;
}

.sinopsis li::marker{
    color: orange;
}

.anime-span{
    font-weight: bold;
}

/*QUESTIONS*/
.questions{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    margin: auto;
    margin-top: 100px;
    text-align: center;

}


.questions-container{
    display: grid;
    gap: 2em;
    padding-top: 50px;
    padding-bottom: 100px;
}

.questions-padding{
    padding: 0;
    transition: .3s;
    border: 2px solid #000;
    border-radius: 6px;
}

.questions-padding--add{
    padding-bottom: 30px;
}

.questions-answers{
    padding: 0px 30px 0px;
    overflow: hidden;
}

.questions-title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 30px 0 30px;
    cursor: pointer;
    color: #000;
    justify-content: space-between;
}

.questions-arrow{
    border-radius: 50%;
    background-color: #000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions-arrow--rotate{
    transform: rotate(180deg);
}

.questions-show{
    text-align: left;
    height: 0;
    transition: height .3s;
}

.questions-img{
    display: block;
}

.questions-copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;

}

/*FOOTER*/
.footer-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}

.first-part-footer{
    width: 100%;
}

.first-part-footer img{
    width: 100%;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}

.footer-social{
    text-align: center;
}

.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: white;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*HEADER - RESPONSIVE*/
/*

@media(max-width: 992px){
    .navbar .links, .navbar .action_btn{
        display: none;
    }

    .navbar .toogle-btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

}*/


/*FOOTER - RESPONSIVE*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}