@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@400;500;600;700;800&family=Teko:wght@300;400;500;600;700&family=Tektur:wght@400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: #e2e2e2;
  }
  
  .grid {
      display: grid;
    }
    
  .main {
      overflow: hidden;
      max-width: 100%;
    }
  
/*ESTILOS GENERALES*/
h1, h2, h3, h4{
    color: #000;
    text-align: center;
    font-size: 1.5rem;
}

a{
    list-style: none;
    color: #000;
    font-weight: bold;
}

/*HEADER*/

.header {
    width: 100%;
    background: #ffffffec;
    z-index: 100; 
    background-color: rgba(255, 255, 255, 1);
    max-height: auto;
    box-shadow: 0px 15px 10px -15px #111;
  }

  .nav {
    margin: auto;
    max-width: 1200px;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navL {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: 500;
    width: 16%;
    margin-left: 10px;
    margin-left: 10px;
  }
  
  .navL-img {
    width: 100%;
  }
  
  .navLink, .navL, .navToggle, .navclose {
    color: #000;
  }

  .navToggle {
    font-size: 1.25rem;
    cursor: pointer;
  }
  
  .navList {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    margin: auto;
  }
  
  .navclose {
    font-size: 1.8rem;
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    cursor: pointer;
  }

  .navLink:hover {
    color: #000000b9;
    text-transform: calc(50%);
    color: #000000b9;
    text-transform: calc(50%);
  }
  
  /* Show menu */
  .show-menu {
    top: 0;
  }

  

/*SLIDER SECTION*/
.tittle-carrousel{
    width: 100%;
    padding: 80px 0 10px 0;
    background: #ffffff80;
}

.tittle-carrousel h2{
    font-weight: 700;
    font-size: 2rem;
    color: #000;
}

.carousel-inner{
    margin: auto;
}

.container-news{
    max-width: 100%;
    justify-content: center;
    margin: auto;
}

.carousel-item{
    height: 90vh;
}
.carrusel-item img{
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    filter: brightness(80%);
}

.carousel-control-next, .carousel-control-prev{
    color: #000;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: rgba(0,0,0,0.1);
}

.active:hover{
    color: #000;
}

.box{
    background: rgba(0,0,0,.5);
    width: 100%;
    padding: 25px;
}

.box h3{
    color: #fff;
    font-weight: bolder;
    font-family: 'Jost', 'sans-serif';
    font-size: 2.1rem;
    text-transform: uppercase;
}

.box h4{
    color: #fff;
    font-weight: bold;
    font-family: 'Jost', 'sans-serif';
    font-size: 1.8rem;

}

.box p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
}

.box a{
    color: #fff;
}

.box a:hover{
    color: #ffffffb7;
}

.box .principal-title-carrousel{
    font-size: 1.8rem;
}

.box .paragraph-carrousel{
    font-size: 1.5rem;
}

/*PRINCIPAL TITTLE*/
.principal-title{
    background: #ffffff80;
    padding: 40px 0 16px 0;
}

.principal-title h1{
    font-weight: bolder;
    font-size: 2rem;
    margin: auto;
}

/*GALERRY*/
.gallery{
    width: 100%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-gallery{
    display: flex;
    width: 95%;
    height: 740px;
    margin: auto;
}

.img-gallery{
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    opacity: .9;
    transition: .5 ease;
    border: 3px solid #000;
}

/*SINOPSIS-CONTAINER*/
.sinopsis-container {
    position: relative; /* Asegura que el z-index funcione */
    z-index: 100;}

/*MEDIUM TITTLE*/
.medium-tittle{
    background: #ffffff80;
    padding: 40px 0 16px 0;
}

.medium-tittle h2{
    font-size: 2rem;
    font-weight: bolder;
    font-weight: bolder;
}

/*ANIME SINOPSIS*/
.anime-sinopsis{
    max-width: 100%;
}

.about-anime{
    max-width: 1300px;
    margin: auto;
    padding-top: 10px;
}

.tittle-anime{
    margin: 20px 0 20px 0;
}

.tittle-anime h3{
    margin: auto;
}

.tittle-anime h3{
    font-family: 'Tektur', sans-serif;
    text-align: left;
    font-size: 1.8rem;
    max-width: 100%;
    font-weight: bold;
    display: inline-block; 
    background: orange;
    padding: 10px 20px;
    display: inline-block; 
    background: orange;
    padding: 10px 20px;
}

.img-anime{
    max-width: 100%;
}

.img-anime img{
    width: 100%;
}

.sinopsis-anime-7{
    padding-bottom: 20px;
}

.sinopsis li{
    list-style: square;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
    font-size: 1.05rem;
}

.sinopsis li::marker{
    color: orange;
}

.anime-span{
    font-weight: bold;
}

/*QUESTIONS*/
.questions{
    width: 100%;
    overflow: hidden;
    padding-top: 40px;
    text-align: center;
    background: #ffffff80;
}

.questions-and-title-container{
    width: 1300px;
    margin: auto;
}

.subtitle{
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 2rem;
}

.questions-paragraph{
    font-size: 1.2rem;
}

.questions-container{
    display: grid;
    gap: 2em;
    padding-top: 20px;
    padding-bottom: 80px;
}

.questions-padding{
    padding: 0;
    transition: .3s;
    border: 2px solid #000;
    border-radius: 6px;
    height: 70px;
    overflow: hidden;
}

.questions-padding--add{
    padding-bottom: 30px;
    height: 150px;
    transition: .3s;
}

.questions-answers{
    padding: 0px 30px 0px;
    overflow: hidden;
}

.questions-title{
    text-align: left;
    display: flex;
    font-size: 20px;
    padding: 26px 0 10px;
    padding: 26px 0 10px;
    cursor: pointer;
    color: #000;
    justify-content: space-between;
    font-weight: 600;
    font-weight: 600;
}

.questions-arrow{
    border-radius: 50%;
    background-color: #000;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;
}

.questions-arrow--rotate{
    transform: rotate(180deg);
}

.questions-show{
    text-align: left;
    height: 0;
    transition: height .3s;

}

.questions-img{
    display: block;
}

.questions-copy{
    width: 60%;
    margin: 0 auto;
    margin-bottom: 30px;

}

/*FOOTER*/
.footer{
	background-color: #24262b;
    width: 100%;
    padding: 70px 0;
    margin: auto;
}

.footer-container{
	width: 1500px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
    width: 100%;
    margin: auto;
}

.footer-img{
    width: 80%;
    margin: auto;
}

.footer-img img{
    width: 100%;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
   margin: auto;
}


.footer-copyright{
    width: 100%;
    text-align: center;
}

.footer-copyright p{
    color: #fff;
}

.footerspan{
    color: #fff;
    font-weight: 700;
}

.footer-copyright{
    width: 100%;
    text-align: center;
}

.footer-copyright p{
    color: #fff;
    font-size: 14px;
}

.footerspan{
    color: #fff;
    font-weight: 700;
}

.footer-social{
    text-align: center;
    margin-top: 0;
}

.footer-col h4{
	font-size: 16px;
	color: #ffffff;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}


.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 14px;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.social-links{
    margin-top: 0;
}

.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}


.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}


.principal-title h1, .medium-tittle h2, .subtitle{
    font-size: 1.74rem;
}

.nav{
    width: 96%;
    margin: auto;
}

.carousel-item img{
    height: 100%;
    width: 100%;
}

.carousel-item{
    height: 88vh;
}

.box .principal-title-carrousel{
    font-size: 1.6rem;
}

.box .paragraph-carrousel{
    font-size: 1.34rem;
}

.box h3{
    font-size: 1.8rem;
}

.box h4{
    font-size: 1.6rem;
}

.box p{
    font-size: 1.16rem;
}

.container-gallery{
    height: 600px;
}

.img-gallery{
    border: 1.8px solid #000;
}

.img-gallery-2, .img-gallery-3, .img-gallery-4, .img-gallery-5, .img-gallery-6, .img-gallery-7{
    border-left: none;
}

.gallery-img{
    width: 100%;
    height: 100%;
}

.img-gallery:hover{
    cursor: pointer;
    width: 400px;
    opacity: 1;
    filter: contrast(110%);
}

.anime-sinopsis{
    width: 90%;
    margin: auto;
}

.tittle-anime h3{
    font-size: 1.64rem;
}

.sinopsis ul li, .anime-span{
    font-size: 1rem;
}

.questions-and-title-container{
    width: 88%;
}

.questions-paragraph{
    font-size: 1rem;
}

.questions-title{
    font-size: 1.06rem;
}

.questions-show{
    font-size: .96rem;
}

.footer{
    width: 100%;
}

.footer-container{
    width: 94%;
}

.footer-img{
    width: 100%;
}

.footer-img img{
    width: 100%;
    margin-bottom: 4px;
}

.footerspan{
    font-size: .96rem;
}

.footer-col h4, .footer-col ul li{
    font-size: .96rem;
}
 
  /*RESPONSIVE NEST HUB - 1024 x 600*/
  @media (max-width: 1024px) {
    .navM {
      position: fixed;
      width: 100%;
      background: #fff;
      top: -150%;
      left: 0;
      padding: 2rem 0;
      transition: 0.4s;
      z-index: 100;
      border-radius: 0 0 1.5rem 1.5rem; 
    }
    .show-menu {
      top: 0;
    }
  }

  @media (min-width: 1025px) {
    .nav {
        height: calc(3.5rem + 1.5rem);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navclose, .navToggle {
        display: none;
    }
    .navList {
        flex-direction: row;
        column-gap: 3rem;
    }
    .navLink {
        text-transform: initial;
        font-weight: initial;
    }
  }

  @media (min-width: 768px) and (max-width:960px){
    .nav{
        height: 100%;
    }
    
    .navL-img{
        width: 110%;
        margin: 6px;
    }

    .carousel-inner{
        height: 70vh;
    }

    .carousel-item img{
        height: 70vh;
        width: 100vw;
    }

    .carousel-caption{
        width: auto;
        margin: auto;
        position: sticky;
    }

    .box h3{
        font-size: 1.6rem;
    }

    .box h4{
        font-size: 1.4rem;
    }

    .box p{
        display: none;
    }

    .box a{
        font-size: .9rem;
    }

    .carousel-control-next:hover, .carousel-control-prev:hover{
        background: none;
    }

    .container-gallery{
        height: 84vh;
    }

    .img-gallery{
        border: 1.6px solid #000;
    }
    
    .img-gallery-2, .img-gallery-3, .img-gallery-4, .img-gallery-5, .img-gallery-6, .img-gallery-7{
        border-left: none;
    }
    
    .img-gallery:hover{
        cursor: pointer;
        width: 300px;
        opacity: 1;
        filter: contrast(110%);
    }

    .img-and-title{
        position: relative;
    }

    .tittle-anime{
        z-index: 1000;
        position: absolute;
        bottom: -20px;
        color: white; 
    }

    .tittle-anime h3{
        position: relative;
        bottom: 0;
    }

    .principal-title h1, .medium-tittle h2, .subtitle{
        font-size: 1.4rem;
    }

    .tittle-anime h3{
        font-size: 1.4rem;
    }

    .sinopsis ul li, .anime-span{
        font-size: .88rem;
    }

    .questions-paragraph{
        font-size: .9rem;
    }

    .questions-title{
        font-size: 1rem;
    }

    .questions-show{
        font-size: .88rem;
        margin-top: 0px;
    }

    .footer-col{
        width: 100%;
    }

    .first-part-footer{
        display: flex;
        margin: auto;
        padding-bottom: 10px;
        border-bottom: 2px solid #d0caca61
    }

    .footer-img{
        width: 30vw;
    }

    .first-part-footer img{
        width: 100%;
    }

    .footer-copyright{
        margin: auto;
        width: auto;
    }

    .footerspan, .footertext{
        margin: auto;
        padding: 0;
    }

    .footer-col h4{
        text-align: center;
    }

    .footer-col-1 ul, .footer-col-2 ul{
        columns: 2;
        column-gap: 40px;
    }

    .container-links{
        margin-top: 24px;
        display: flex;
        justify-content: baseline;
        border-bottom: 2px solid #d0caca61
    }

    .footer-social{
        display: flex;
        width: 100%;
        margin: auto;
        text-align: start;
        margin-top: 24px;
        justify-content: space-evenly;
    }
    
    .social-links, .footer-social h4{
        margin: auto;
    }
    
    .img-and-title{
        max-width: 100vw;
        height: 260px;
        position: relative; 
        overflow: hidden;
    }
    
    .img-anime{
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(122%);
        max-height: 400px;
    }

    .img-anime-1{
        transform: translate(-40%, -50%) scale(126%);
    }

    .img-anime-3{
        transform: translate(-50%, -50%) scale(103%);
    }

    .img-anime-5, .img-anime-7 , .img-anime-4{
        transform: translate(-50%, -50%) scale(100%);
    }

    .img-anime img{
        height: 280px;
    }
    
    .tittle-anime{
        z-index: 1000;
        position: absolute;
        bottom: -20px;        
   }
   
   .tittle-anime h3{
    font-size: 1.3rem;
   } 
  }

  @media (min-width: 768px) and (max-width:840px){
    .img-anime{
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(122%);
        max-height: 350px;
    }

    .img-anime-1{
        transform: translate(-40%, -50%) scale(126%);
    }

    .img-anime-3{
        transform: translate(-50%, -50%) scale(103%);
    }

    .img-anime-5, .img-anime-7 , .img-anime-4{
        transform: translate(-50%, -50%) scale(100%);
    }

    .img-anime img{
        height: 260px;
    }
  }

  @media (min-width: 961px) and (max-width: 1024px){
    .nav{
        height: 100%;
    }
    
    .navL-img{
        width: 110%;
        margin: 6px;
    }

    .carousel-inner{
        height: 74vh;
    }

    .carousel-item img{
        height: 74vh;
        width: 100vw;
    }

    .carousel-caption{
        width: auto;
        margin: auto;
        position: sticky;
    }

    .carousel-control-next:hover, .carousel-control-prev:hover{
        background: none;
    }

    .box h3{
        font-size: 1.9rem;
    }

    .box h4{
        font-size: 1.75rem;
    }

    .box p{
        display: none;
    }

    .box a{
        font-size: 1.3rem;
    }

    .container-gallery{
        height: 84vh;
    }

    .principal-title h1, .medium-tittle h2, .subtitle{
        font-size: 1.76rem;
    }
    
    .img-gallery-2, .img-gallery-3, .img-gallery-4, .img-gallery-5, .img-gallery-6, .img-gallery-7{
        border-left: none;
    }
    
    .img-gallery:hover{
        cursor: pointer;
        width: 450px;
        opacity: 1;
        filter: contrast(110%);
    }

    .sinopsis ul li, .anime-span{
        font-size: 1rem;
    }

    .img-and-title{
        position: relative;
    }

    .tittle-anime{
        z-index: 1000;
        position: absolute;
        bottom: -20px;
        color: white; 
    }

    .tittle-anime h3{
        position: relative;
        bottom: 0;
    }
    
    .img-and-title{
        max-width: 100vw;
        height: 300px;
        position: relative; 
        overflow: hidden;
    }
    
    .img-anime{
        width: 100vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(122%);
        max-height: 400px;
    }

    .img-anime-1{
        transform: translate(-40%, -50%) scale(126%);
    }

    .img-anime-3{
        transform: translate(-50%, -50%) scale(103%);
    }

    .img-anime-4, .img-anime-5, .img-anime-7{
        transform:  translate(-50%, -50%) scale(100%);
    }

    .img-anime img{
        height: 300px;
    }
    
    .footer-col{
        width: 100%;
    }

    .first-part-footer{
        display: flex;
        margin: auto;
        border-bottom: 2px solid #d0caca61;
        max-width: 100vw;
        padding: 0;
        justify-content: space-around;
    }

    .footer-img{
        width: 30vw;
    }

    .footer-img img{
        width: 100%;
    }

    .footer-copyright{
        margin: auto;
        display: flex;
        width: auto;
        justify-content: space-around;
    }

    .footer-copyright .footerspan, .footer-copyright .footertext{
        font-size: .96rem;
    }

    .footerspan{
        margin: auto;
        margin-right: 10px;
    }

    .footertext{
        margin: auto;
        margin-left: 10px;
    }
    
    .footer-col h4{
        text-align: center;
    }

    .footer-col-1 ul, .footer-col-2 ul{
        columns: 2;
        column-gap: 40px;
    }

    .container-links{
        margin-top: 24px;
        display: flex;
        justify-content: baseline;
        border-bottom: 2px solid #d0caca61
    }

    .footer-social{
        display: flex;
        width: 100%;
        margin: auto;
        text-align: start;
        margin-top: 24px;
        justify-content: space-evenly;
    }
    
    .social-links, .footer-social h4{
        margin: auto;
        font-size: 1.04rem;
    }
}

@media (min-width: 1025px) and (max-width: 1400px){
    .header{
        width: 100%;
        margin: auto;
    }

    .nav{
        width: 94%;
        justify-content: space-between;
    }
    
    .navL{
        width: 18vw;
    }

    .navL-img{
        width: 100%;
        margin: 6px;
        margin: auto;
    }

    .navList li a{
        font-size: 1.08rem;
        font-weight: bolder;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    .carousel-inner{
        height: 70vh;
    }

    .carousel-item img{
        height: 70vh;
        width: 100vw;
    }

    .box{
        margin-bottom: 160px;
    }

    .box p{
        font-size: 1.2rem;
    }

    .box a{
        font-size: 1.06rem;
    }

    .container-gallery{
        height: 84vh;
    }
        
    .img-gallery:hover{
        cursor: pointer;
        width: 440px;
        opacity: 1;
        filter: contrast(110%);
    }

    .tittle-anime h3{
        font-size: 1.76rem;
    }

    .sinopsis ul li, .anime-span{
        font-size: 1.2rem;
    }

    .questions-paragraph{
        font-size: 1.2rem;
    }

    .questions-title{
        font-size: 1.14rem;
    }

    .questions-show{
        font-size: 1.06rem;
    }
    
    .questions-padding--add{
        padding-bottom: 30px;
        height: 168px;
        transition: .3s;
    }   

    .footer-copyright .footerspan, .footer-copyright .footertext, .footer-col ul li a{
        font-size: 1rem;
    }

    .footer-col h4, .footer-social a{
        font-size: 1.06rem;
    }
}


@media (min-width: 1025px){  
    .footer-col{
        width: 100%;
    }

    .first-part-footer{
        display: flex;
        margin: auto;
        border-bottom: 2px solid #d0caca61;
        max-width: 100vw;
        padding: 0;
        justify-content: space-around;
    }

    .footer-img{
        width: 30vw;
    }

    .footer-img img{
        width: 100%;
    }

    .footer-copyright{
        margin: auto;
        display: flex;
        width: auto;
        justify-content: space-around;
    }

    .footerspan{
        margin: auto;
        margin-right: 10px;
    }

    .footertext{
        margin: auto;
        margin-left: 10px;
    }
    
    .footer-col h4{
        text-align: center;
    }

    .footer-col-1 ul, .footer-col-2 ul{
        columns: 2;
        column-gap: 40px;
    }

    .container-links{
        margin-top: 24px;
        display: flex;
        justify-content: baseline;
        border-bottom: 2px solid #d0caca61
    }

    .footer-social{
        display: flex;
        width: 100%;
        margin: auto;
        text-align: start;
        margin-top: 24px;
        justify-content: space-evenly;
    }
    
    .social-links, .footer-social h4{
        margin: auto;
    }
}
/*
@media (max-width: 1200px){
    .principal-title h1, .medium-tittle h2, .subtitle{
        font-size: 1.74rem;
    }

    .nav{
        width: 96%;
        margin: auto;
    }

    .carousel-item img{
        height: 100%;
        width: 100%;
    }

    .carousel-item{
        height: 88vh;
    }

    .box .principal-title-carrousel{
        font-size: 1.6rem;
    }

    .box .paragraph-carrousel{
        font-size: 1.34rem;
    }

    .box h3{
        font-size: 1.8rem;
    }
    
    .box h4{
        font-size: 1.6rem;
    }

    .box p{
        font-size: 1.16rem;
    }

    .container-gallery{
        height: 600px;
    }

    .img-gallery{
        border: 1.8px solid #000;
    }
    
    .img-gallery-2, .img-gallery-3, .img-gallery-4, .img-gallery-5, .img-gallery-6, .img-gallery-7{
        border-left: none;
    }

    .gallery-img{
        width: 100%;
        height: 100%;
    }
    
    .img-gallery:hover{
        cursor: pointer;
        width: 400px;
        opacity: 1;
        filter: contrast(110%);
    }

    .anime-sinopsis{
        width: 90%;
        margin: auto;
    }

    .tittle-anime h3{
        font-size: 1.64rem;
    }
    
    .sinopsis ul li, .anime-span{
        font-size: 1rem;
    }

    .questions-and-title-container{
        width: 88%;
    }

    .questions-paragraph{
        font-size: 1rem;
    }

    .questions-title{
        font-size: 1.06rem;
    }

    .questions-show{
        font-size: .96rem;
    }

    .footer{
        width: 100%;
    }

    .footer-container{
        width: 94%;
    }

    .footer-img{
        width: 100%;
    }

    .footer-img img{
        width: 100%;
        margin-bottom: 4px;
    }

    .footerspan{
        font-size: .96rem;
    }

    .footer-col h4, .footer-col ul li{
        font-size: .96rem;
    }
  }*/